@{
    ViewData["Title"] = "Home Page";
}
@model ViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.address</p>
    <p>@Model.city</p>
    <p>@Model.country</p>
    <p>@Model.name</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
